<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../js/route.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Historial de material</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <main id="app">
        <nav-component :changeLanguage="changeLanguage"></nav-component>
        <br>
        <div class="container mb-5">
            <!-- Tabla -->
            <template>
                <div class="row mb-3">
                    <div class="col-md-3">
                        <select class="form-select form-select-sm" id="selectMateriala" required
                            v-model="materialaIzenaSortu">
                            <option disabled value="" class="fs-5">{{ translations[selectedLanguage].hist_mat_era.filtro
                                }}</option>
                            <option value="">Todos</option>
                            <option v-for="(materiala_erabili) in listaMateriala" :value="materiala_erabili.id">{{
                                materiala_erabili.etiketa }}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <select class="form-select form-select-sm" id="selectAlumno" required v-model="izenaSortu">
                            <option disabled value="">{{ translations[selectedLanguage].mat_era.alumno }}</option>
                            <option v-for="(langile) in alumnosPorGrupo" :key="langile.id" :value="langile.id">
                                {{langile.izena}}</option>
                        </select>
                    </div>
                </div>
            </template>
            <table class="table table-hover mt-5 mb-5">
                <thead>
                    <tr style="font-size: 19px;">
                        <th scope="col">{{ translations[selectedLanguage].hist_mat_era.material }}</th>
                        <th scope="col">{{ translations[selectedLanguage].hist_mat_era.alumno }}</th>
                        <th scope="col">{{ translations[selectedLanguage].hist_mat_era.fecha_ext }}</th>
                        <th scope="col">{{ translations[selectedLanguage].hist_mat_era.fecha_dev }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(registro) in itemsFiltradosPaginados" :key="registro.id">
                        <td>{{registro.materiala.etiketa}}</td>
                        <td>{{registro.langilea.izena}}</td>
                        <td>{{registro.hasiera_data}}</td>
                        <td>{{registro.amaiera_data ? registro.amaiera_data : 'EN USO'}}</td>
                    </tr>
                </tbody>
            </table>

            <div id="paginacion" class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" @click="paginaAnterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"><span>{{paginaActual}} / {{cantidadPorPaginas}}</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" @click="paginaSiguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="bg-dark text-light text-center py-3 mt-auto">

        <p>&copy; 2024. Todos los derechos reservados. CIFP San Jorge LHII</p>

    </footer>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/translations.js"></script>
    <script src="../js/historiala_materiala_erabili.js"></script>

</body>

</html>