<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Citas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

</head>

<body>
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container d-flex align-items-center">
            <!-- <div class="container-fluid"> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto h3 d-flex d-inline" href="hitzorduak.html">
                Citas
                <!-- FIXME: buscar como hacero sin puntitos  -->
                <!-- sin los puntos no se ve bien centrado -->
                <p class="puntos" style="color: #F7F7F7;">.....</p>
            </a>

            <!-- Barra de navegacion fija -->
            <i class="bi bi-box-arrow-right h3"></i>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <!-- Barra de navegacion "oculta" -->
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- Citas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar3 m-2"></i>
                                Citas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Asignar citas</a></li>
                                <li><a class="dropdown-item" href="#">Comfirmar citas</a></li>
                                <li><a class="dropdown-item" href="bezero_fitxak.html">Ficha técnica</a></li>
                                <li><a class="dropdown-item" href="#">Listado tickets</a></li>
                                <li><a class="dropdown-item" href="#">Agenda de citas</a></li>
                            </ul>
                        </li>

                        <!-- Almacen -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="#">
                                <i class="bi bi-box-seam-fill m-2"></i>
                                Almacén
                            </a>
                        </li>

                        <!-- Productos -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="produktuak.html">
                                <i class="bi bi-tags-fill m-2"></i>
                                Productos
                            </a>
                        </li>

                        <!-- Material -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="materiala.html">
                                <!-- <i class="bi bi-brush"></i> -->
                                <i class="bi bi-palette2 m-2"></i>
                                Material
                            </a>
                        </li>

                        <!-- Tratamientos -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="tratamenduak.html">
                                <i class="bi bi-scissors m-2"></i>
                                Tratamientos
                            </a>
                        </li>

                        <!-- Tareas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar-check-fill m-2"></i>
                                Turnos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="gaurko_txandak.html">Turnos de hoy</a></li>
                                <li><a class="dropdown-item" href="txandak.html">Turnos</a></li>
                            </ul>
                        </li>

                        <!-- Usuarios -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-fill m-2"></i>
                                Usuarios
                            </a>
                            <ul class="dropdown-menu">
                                <!-- <li><a class="dropdown-item" href="#">Rotaciones</a></li> -->
                                <li><a class="dropdown-item" href="taldeak.html">Grupos</a></li>
                                <li><a class="dropdown-item" href="langileak.html">Trabajadores</a></li>
                                <li>
                                    <a class="dropdown-item" href="ordutegiak.html">Horarios por grupo</a>
                                </li>
                            </ul>
                        </li>


                        <!-- Resumen tratamiento -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="#">
                                <i class="bi bi-receipt m-2"></i>
                                Resumen tratamiento
                            </a>
                        </li>
                    </ul>

                    <!-- Buscador (por defecto, se puede quitar) -->
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <main id="app">
        <div class="container">
            <div class="row table-responsive">
                <!-- Iconos para editar los datos -->

                <h3 v-if="grupoPorDia !== null" class="mt-4 text-center">
                    Grupo del día: {{grupoPorDia}}
                </h3>

                <div class="mt-4">
                    <div>
                        <input type="date" class="col-4 float-start" v-model="fecha" @change="cargarDatos">
                    </div>
                    <div>
                        <i class="bi bi-plus-circle float-end h4" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            @click=""></i>

                        <!-- Modal -->
                        <div class="modal fade" aria-hidden="true" id="exampleModal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">Añadir cita</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <fieldset>
                                                <div class="mb-3 h6">
                                                    <label class="form-label">Fecha
                                                    </label>
                                                    <input type="date" id="disabledTextInput" class="form-control"
                                                        placeholder="Disabled input" v-model="fechaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">Asiento</label>
                                                    <input type="number" class="form-control" min="0" value="0"
                                                        placeholder="0" v-model="eserlekuaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">Hora inicio</label>
                                                    <input type="time" v-model="hasiera_orduaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">Hora fin</label>
                                                    <input type="time" v-model="amaiera_orduaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">Nombre</label>
                                                    <input type="text" class="form-control" v-model="izenaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">Teléfono</label>
                                                    <input type="tel" class="form-control" v-model="telefonoaSortu"
                                                        maxlength="9">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">Descripción</label>
                                                    <input type="text" class="form-control" v-model="deskribapenaSortu"
                                                        maxlength="250">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">Tipo cliente</label>
                                                    <select class="form-select" v-model="etxekoaSortu">
                                                        <option value="e">Interno</option>
                                                        <option value="k">Externo</option>
                                                    </select>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Cancelar</button>
                                        <button type="button" class="btn btn-primary" @click="createHitzordu">Añadir
                                            cita</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th v-for="eserleku in totalLangile" :key="eserleku">
                                Asiento {{eserleku}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="hora in horas" :key="hora">
                            <td>
                                {{ hora | formatHour }}
                            </td>
                            <td v-for="eserleku in totalLangile" :key="eserleku">
                                <div v-for="cA in si(hora, eserleku)" class="bg-primary text-white text-center"
                                    data-bs-toggle="modal" :data-bs-target="'#citaPopup' + eserleku"
                                    @click="cargaHitzorduDatos(cA.id)">
                                    {{cA.izena}}
                                    <!-- Empty cell -->

                                </div>
                                <!-- Modal -->
                                <div class="modal fade" :id="'citaPopup' + eserleku" tabindex="-1"
                                    aria-labelledby="citaPopupLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                                                    Información de
                                                    la cita
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <form>
                                                    <fieldset v-for="citaSelect in datosCitaSeleccionada">
                                                        <input type="checkbox" class="btn" @click=""
                                                            :value="citaSelect.id" v-model="idCitaSeleccionada">
                                                        Modificar cita
                                                        </input>
                                                        <button type="button" class="btn btn-primary"
                                                            @click="ezabHitzordu(citaSelect.id)">
                                                            Borrar cita
                                                        </button>


                                                        <div class="mb-3">
                                                            <label class="form-label h6">
                                                                Fecha
                                                            </label>
                                                            <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                {{citaSelect.data}}
                                                            </p>
                                                            <input v-else type="date" id="disabledTextInput"
                                                                class="form-control" placeholder="Disabled input"
                                                                v-model="citaSelect.data">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label h6">
                                                                Asiento
                                                            </label>
                                                            <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                {{citaSelect.eserlekua}}
                                                            </p>
                                                            <input v-else type="number" class="form-control" min="0"
                                                                value="0" placeholder="0"
                                                                v-model="citaSelect.eserlekua" />
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label h6">Hora inicio</label>
                                                            <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                {{citaSelect.hasiera_ordua | formatHour}}</p>
                                                            <input v-else type="time"
                                                                v-model="citaSelect.hasiera_ordua">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label h6">Hora fin</label>
                                                            <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                {{citaSelect.amaiera_ordua | formatHour }}</p>
                                                            <input v-else type="time"
                                                                v-model="citaSelect.amaiera_ordua">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label h6">Nombre</label>
                                                            <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                {{citaSelect.izena}}</p>
                                                            <input v-else type="text" class="form-control"
                                                                v-model="citaSelect.izena">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label h6">Teléfono</label>
                                                            <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                {{citaSelect.telefonoa}}</p>
                                                            <input v-else type="tel" class="form-control"
                                                                v-model="citaSelect.telefonoa" maxlength="9">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label h6">Descripción</label>
                                                            <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                {{citaSelect.deskribapena}}</p>
                                                            <input v-else type="text" class="form-control"
                                                                v-model="citaSelect.deskribapena" maxlength="250">
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label h6">Tipo cliente</label>
                                                            <span v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                <p v-if="citaSelect.etxekoa == 'k'">
                                                                    Externo
                                                                </p>
                                                                <p v-else>
                                                                    Interno
                                                                </p>
                                                            </span>

                                                            <select v-else class="form-select"
                                                                v-model="citaSelect.etxekoa">
                                                                <option value="e">Interno</option>
                                                                <option value="k">Externo</option>
                                                            </select>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label  h6">Alumno</label>
                                                            <span v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                <p v-if="citaSelect.l_izena !== null">
                                                                    {{citaSelect.l_izena}}
                                                                </p>
                                                                <p v-else>No tiene un alumno asignado</p>
                                                            </span>
                                                            <select v-else class="form-select" v-model="langileUpdate">
                                                                <option :value="null" selected disabled>Asignar alumno
                                                                </option>
                                                                <option v-for="(langile) in listaLangile"
                                                                    :value="langile.id">
                                                                    {{langile.izena}}</option>
                                                            </select>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label class="form-label h6">Precio</label>
                                                            <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                {{citaSelect.prezio_totala}}</p>
                                                            <input v-else type="text" class="form-control"
                                                                v-model="citaSelect.prezio_totala">
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary"
                                                    @click="updateHitzordu">Actualizar
                                                    cita</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="bg-dark text-light text-center py-3" id="sticky-footer">
        <div class="container">
            <p>&copy; 2024 Bezero_fitxak. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/hitzorduak.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
</body>

</html>