<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../js/route.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Citas</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

</head>

<body class="d-flex flex-column min-vh-100">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <main id="app">
        <nav-component :changeLanguage="changeLanguage"></nav-component>
        <div class="container">
            <div class="row table-responsive">
                <!-- Iconos para editar los datos -->

                <h3 v-if="grupoPorDia !== null" class="mt-4 text-center">
                    {{ translations[selectedLanguage].hitzorduak.grupo_dia }} {{grupoPorDia}}
                </h3>

                <div class="mt-4">
                    <div>
                        <input type="date" class="col-4 float-start" v-model="fecha" @change="cargarDatos" style="font-size: 19px;">
                    </div>
                    <div>
                        <i class="bi bi-plus-circle float-end h4" data-bs-toggle="modal" data-bs-target="#exampleModal"
                            @click=""></i>

                        <!-- Modal -->
                        <div class="modal fade" aria-hidden="true" id="exampleModal" tabindex="-1"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-xl">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalToggleLabel">{{
                                            translations[selectedLanguage].hitzorduak.añadir }}</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form>
                                            <fieldset>
                                                <div class="mb-3 h6">
                                                    <label class="form-label">{{
                                                        translations[selectedLanguage].hitzorduak.fecha }}</label>
                                                    <input type="date" id="disabledTextInput" class="form-control"
                                                        placeholder="Disabled input" v-model="fechaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">{{
                                                        translations[selectedLanguage].hitzorduak.asiento }}</label>
                                                    <input type="number" class="form-control" min="0" value="0"
                                                        placeholder="0" v-model="eserlekuaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">{{
                                                        translations[selectedLanguage].hitzorduak.hora_inicio }}</label>
                                                    <input type="time" v-model="hasiera_orduaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">{{
                                                        translations[selectedLanguage].hitzorduak.hora_fin }}</label>
                                                    <input type="time" v-model="amaiera_orduaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">{{
                                                        translations[selectedLanguage].hitzorduak.nombre }}</label>
                                                    <input type="text" class="form-control" v-model="izenaSortu">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">{{
                                                        translations[selectedLanguage].hitzorduak.tlf }}</label>
                                                    <input type="tel" class="form-control" v-model="telefonoaSortu"
                                                        maxlength="9">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">{{
                                                        translations[selectedLanguage].hitzorduak.descripcion }}</label>
                                                    <input type="text" class="form-control" v-model="deskribapenaSortu"
                                                        maxlength="250">
                                                </div>

                                                <div class="mb-3 h6">
                                                    <label class="form-label">{{
                                                        translations[selectedLanguage].hitzorduak.tipo_cliente
                                                        }}</label>
                                                    <select class="form-select" v-model="etxekoaSortu">
                                                        <option value="e">{{
                                                            translations[selectedLanguage].hitzorduak.interno }}
                                                        </option>
                                                        <option value="k">{{
                                                            translations[selectedLanguage].hitzorduak.externo }}
                                                        </option>
                                                    </select>
                                                </div>
                                            </fieldset>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{
                                            translations[selectedLanguage].hitzorduak.cancelar }}</button>
                                        <button type="button" class="btn btn-primary"  data-bs-dismiss="modal" @click="createHitzordu">
                                            {{ translations[selectedLanguage].hitzorduak.añadir }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th v-for="eserleku in totalLangile" :key="eserleku" class="text-center">
                                {{ translations[selectedLanguage].hitzorduak.asiento }} {{eserleku}}
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="hora in horas" :key="hora">
                            <td style="font-size: 19px;">
                                {{ hora | formatHour }}
                            </td>
                            <td v-for="eserleku in totalLangile" :key="eserleku">
                                <div v-for="cA in si(hora, eserleku)" class="bg-primary text-white text-center"
                                    data-bs-toggle="modal" :data-bs-target="'#citaPopup' + eserleku"
                                    @click="cargaHitzorduDatos(cA.id)">
                                    {{cA.izena}}
                                    <!-- Empty cell -->

                                </div>
                                <!-- Modal -->
                                <div class="modal fade" :id="'citaPopup' + eserleku" tabindex="-1"
                                    aria-labelledby="citaPopupLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-xl">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" id="exampleModalToggleLabel">
                                                    {{
                                                    translations[selectedLanguage].hitzorduak.info_cita }}
                                                </h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body pt-0">
                                                <form>
                                                    <fieldset v-for="citaSelect in datosCitaSeleccionada">
                                                        <div class="row">

                                                            <!-- BOTONES -->
                                                            <div class="col-12">
                                                                <div
                                                                    class="d-flex align-items-center justify-content-between">
                                                                    <div>
                                                                        <!-- Botones modificar cita y generar ticket -->
                                                                        <input type="checkbox" class="btn-check"
                                                                            id="modificar_cita" autocomplete="off"
                                                                            @click="" :value="citaSelect.id"
                                                                            v-model="idCitaSeleccionada">
                                                                        <label class="btn btn-primary"
                                                                            for="modificar_cita">
                                                                            {{
                                                                            translations[selectedLanguage].hitzorduak.modificar_cita
                                                                            }}
                                                                        </label>


                                                                        <input type="checkbox" class="btn-check"
                                                                            id="generar_ticket" autocomplete="off"
                                                                            @click="cargaTratamendu"
                                                                            :value="citaSelect.id"
                                                                            v-model="idCitaSeleccionada">
                                                                        <label class="btn btn-primary"
                                                                            for="generar_ticket">
                                                                            {{
                                                                            translations[selectedLanguage].hitzorduak.generar_ticket
                                                                            }}
                                                                        </label>
                                                                    </div>

                                                                    <!-- Boton borrar cita -->
                                                                    <div>
                                                                        <input type="checkbox" class="btn-check"
                                                                            id="borrar_cita" autocomplete="off"
                                                                            @click="ezabHitzordu(citaSelect.id)">
                                                                        <label class="btn btn-danger text-nowrap"
                                                                            for="borrar_cita">
                                                                            {{
                                                                            translations[selectedLanguage].hitzorduak.borrar_cita
                                                                            }}
                                                                        </label>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-12 align-content-center mt-2">
                                                                <!-- FECHA -->
                                                                <div class="mb-3">
                                                                    <label class="form-label h6">
                                                                        {{
                                                                        translations[selectedLanguage].hitzorduak.fecha
                                                                        }}
                                                                    </label>
                                                                    <p
                                                                        v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                        {{citaSelect.data}}
                                                                    </p>
                                                                    <input v-else type="date" id="disabledTextInput"
                                                                        class="form-control"
                                                                        placeholder="Disabled input"
                                                                        v-model="citaSelect.data">
                                                                </div>

                                                                <!-- ASIENTO -->
                                                                <div class="mb-3">
                                                                    <label class="form-label h6">
                                                                        {{
                                                                        translations[selectedLanguage].hitzorduak.asiento
                                                                        }}
                                                                    </label>
                                                                    <p
                                                                        v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                        {{citaSelect.eserlekua}}
                                                                    </p>
                                                                    <input v-else type="number" class="form-control"
                                                                        min="0" value="0" placeholder="0"
                                                                        v-model="citaSelect.eserlekua" />
                                                                </div>

                                                                <!-- HORA INICIO -->
                                                                <div class="mb-3">
                                                                    <label class="form-label h6">{{
                                                                        translations[selectedLanguage].hitzorduak.hora_inicio
                                                                        }}</label>
                                                                    <p
                                                                        v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                        {{citaSelect.hasiera_ordua | formatHour}}
                                                                    </p>
                                                                    <input v-else type="time"
                                                                        v-model="citaSelect.hasiera_ordua">
                                                                </div>

                                                                <!-- HORA FIN -->
                                                                <div class="mb-3">
                                                                    <label class="form-label h6">{{
                                                                        translations[selectedLanguage].hitzorduak.hora_fin
                                                                        }}</label>
                                                                    <p
                                                                        v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                        {{citaSelect.amaiera_ordua | formatHour }}
                                                                    </p>
                                                                    <input v-else type="time"
                                                                        v-model="citaSelect.amaiera_ordua">
                                                                </div>
                                                            </div>
                                                        </div>


                                                        <div class="col-12">
                                                            <div class="mb-3">
                                                                <label class="form-label h6">{{
                                                                    translations[selectedLanguage].hitzorduak.nombre
                                                                    }}</label>
                                                                <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                    {{citaSelect.izena}}</p>
                                                                <input v-else type="text" class="form-control"
                                                                    v-model="citaSelect.izena">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label h6">{{
                                                                    translations[selectedLanguage].hitzorduak.tlf
                                                                    }}</label>
                                                                <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                    {{citaSelect.telefonoa}}</p>
                                                                <input v-else type="tel" class="form-control"
                                                                    v-model="citaSelect.telefonoa" maxlength="9">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label h6">{{
                                                                    translations[selectedLanguage].hitzorduak.descripcion
                                                                    }}</label>
                                                                <p v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                    {{citaSelect.deskribapena}}</p>
                                                                <input v-else type="text" class="form-control"
                                                                    v-model="citaSelect.deskribapena" maxlength="250">
                                                            </div>

                                                            <div class="mb-3">
                                                                <label class="form-label h6">{{
                                                                    translations[selectedLanguage].hitzorduak.tipo_cliente
                                                                    }}</label>
                                                                <span
                                                                    v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                    <p v-if="citaSelect.etxekoa == 'k'">
                                                                        {{
                                                                        translations[selectedLanguage].hitzorduak.externo
                                                                        }}
                                                                    </p>
                                                                    <p v-else>
                                                                        {{
                                                                        translations[selectedLanguage].hitzorduak.interno
                                                                        }}
                                                                    </p>
                                                                </span>

                                                                <select v-else class="form-select"
                                                                    v-model="citaSelect.etxekoa">
                                                                    <option value="e">{{
                                                                        translations[selectedLanguage].hitzorduak.interno
                                                                        }}</option>
                                                                    <option value="k">{{
                                                                        translations[selectedLanguage].hitzorduak.externo
                                                                        }}</option>
                                                                </select>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label class="form-label  h6">{{
                                                                    translations[selectedLanguage].hitzorduak.alumno
                                                                    }}</label>
                                                                <span
                                                                    v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                    <p v-if="citaSelect.l_izena !== null">
                                                                        {{citaSelect.l_izena}}
                                                                    </p>
                                                                    <p v-else>{{
                                                                        translations[selectedLanguage].hitzorduak.sin_alumno
                                                                        }}</p>
                                                                </span>
                                                                <select v-else class="form-select"
                                                                    v-model="langileUpdate">
                                                                    <option :value="null" selected disabled>{{
                                                                        translations[selectedLanguage].hitzorduak.asignar_alumno
                                                                        }}
                                                                    </option>
                                                                    <option v-for="(langile) in listaLangile"
                                                                        :value="langile.id">
                                                                        {{langile.izena}}</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="col-12">
                                                            <div class="mb-3">
                                                                <div v-if="!idCitaSeleccionada.includes(citaSelect.id)">
                                                                    <label class="form-label h6">
                                                                        {{
                                                                        translations[selectedLanguage].hitzorduak.precio
                                                                        }}
                                                                    </label>
                                                                    <p>
                                                                        {{citaSelect.prezio_totala}}€
                                                                    </p>
                                                                </div>
                                                                <!-- <input v-else type="text" class="form-control"
                                                                v-model="citaSelect.prezio_totala"> -->

                                                                <!-- Generar ticket -->
                                                                <div v-else>
                                                                    <div class="mb-3">
                                                                        <label class="form-label h6">
                                                                            {{
                                                                            translations[selectedLanguage].hitzorduak.tratamientos
                                                                            }}
                                                                        </label>
                                                                        <div v-for="(tratamiento, index) in listaTratamendua"
                                                                            :key="index">
                                                                            <input type="checkbox"
                                                                                class="form-check-input"
                                                                                :id="'tratamiento_' + index"
                                                                                v-model="tratamientosSeleccionados"
                                                                                :value="tratamiento"
                                                                                @change="calcularPrecioTotal(tratamiento.id)"
                                                                                class="form-check-input" />
                                                                            <label :for="'tratamiento_' + index">{{
                                                                                tratamiento.izena }} -
                                                                                <span v-if="citaSelect.etxekoa === 'e'">
                                                                                    {{tratamiento.etxeko_prezioa}}€
                                                                                </span>
                                                                                <span v-else>
                                                                                    {{tratamiento.kanpoko_prezioa}}€
                                                                                </span>
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="mb-3">
                                                                        <label class="form-label h6">
                                                                            {{
                                                                            translations[selectedLanguage].hitzorduak.precio_total
                                                                            }}
                                                                        </label>
                                                                        <p v-if="precioTotal">{{ precioTotal }}€</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                </form>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">{{
                                                    translations[selectedLanguage].hitzorduak.cancelar }}</button>
                                                <button type="button" class="btn btn-primary" data-bs-dismiss="modal" @click="updateHitzordu">{{
                                                    translations[selectedLanguage].hitzorduak.actualizar_cita
                                                    }}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!-- FOOTER -->
        <footer class="bg-dark text-light text-center py-3 mt-auto" id="sticky-footer">
            <div class="container">
                <p>&copy; {{
                    translations[selectedLanguage].hitzorduak.footer }}</p>
            </div>
        </footer>
    </main>



    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/translations.js"></script>
    <script src="../js/hitzorduak.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>

</body>

</html>