<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../js/route.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Extraer/Devolver material</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto h3 d-flex d-inline fs-2" href="#">
                Extraer/Devolver material
            </a>

            <!-- Barra de navegacion fija -->
            <i class="bi bi-box-arrow-right h3"></i>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel" style="width: 350px;">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <img src="../img/sj.png" alt="Logo" width="200" height="60">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <!-- Barra de navegacion "oculta" -->
                <div class="offcanvas-body" style="position: relative;">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- Citas -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar3 m-1"></i>
                                Citas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="hitzorduak.html">Gestión de citas</a></li>
                                <li><a class="dropdown-item" href="ticket.html">Tickets</a></li>
                            </ul>
                        </li>

                        <!-- Productos -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-tags-fill m-1"></i>
                                Productos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="produktu_mugimenduak.html">Extraer productos</a></li>
                                <li><a class="dropdown-item" href="produktuak.html">Gestionar productos</a></li>
                                <li><a class="dropdown-item" href="kategoriak.html">Gestionar categorías</a></li>
                                <li><a class="dropdown-item" href="historiala_produktu_mugimenduak.html">Historial de
                                        extracción de productos</a></li>
                            </ul>
                        </li>

                        <!-- Material -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-palette2 m-1"></i>
                                Material
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="materiala.html">Gestionar material</a></li>
                                <li><a class="dropdown-item" href="materiala_erabili.html">Extraer/Devolver Material</a>
                                </li>
                                <li><a class="dropdown-item" href="historiala_materiala_erabili.html">Historial de
                                        movimientos de material</a></li>
                            </ul>
                        </li>

                        <!-- Tratamientos -->
                        <li class="nav-item mb-2">
                            <a class="nav-link link-info fs-6 fw-bold text-light" href="tratamenduak.html" role="button"
                                aria-expanded="false">
                                <i class="bi bi-scissors m-1"></i>
                                Tratamientos
                            </a>
                        </li>

                        <!-- Turnos -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar-check-fill m-1"></i>
                                Turnos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="txandak.html">Asignación de turnos</a></li>
                                <li><a class="dropdown-item" href="gaurko_txandak.html">Turnos de hoy</a></li>
                            </ul>
                        </li>

                        <!-- Grupos -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-people-fill m-1"></i>
                                Grupos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="taldeak.html">Gestionar grupos</a></li>
                                <li><a class="dropdown-item" href="ordutegiak.html">Horarios por grupo</a></li>
                            </ul>
                        </li>

                        <!-- Usuarios -->
                        <li class="nav-item mb-2">
                            <a class="nav-link link-info fs-6 fw-bold text-light" href="langileak.html" role="button"
                                aria-expanded="false">
                                <i class="bi bi-person-fill m-1"></i>
                                Usuarios
                            </a>
                        </li>

                        <!-- Ficha Clientes -->
                        <li class="nav-item mb-2">
                            <a class="nav-link link-info fs-6 fw-bold text-light" href="bezero_fitxak.html"
                                role="button" aria-expanded="false">
                                <i class="bi bi-person-vcard m-1"></i>
                                Ficha-clientes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>


    <main id="app">
        <!-- CAMBIAR EL IDIOMA (probisional) -->
        <p @click="changeLanguage('es')">ES</p>
        <p @click="changeLanguage('eus')">EUS</p>
        <br>
        <div class="container">
            <template>
                <br>
                <div class="row mb-3">
                    <div class="col-md-5">
                        <label for="selectAlumno" class="form-label">{{ translations[selectedLanguage].mat_era.alumno
                            }}:</label>
                        <select class="form-select w-100" id="selectAlumno" required v-model="izenaSortu">
                            <option disabled value="">{{ translations[selectedLanguage].mat_era.alumno }}</option>
                            <option v-for="(langile) in alumnosPorGrupo" :key="langile.id" :value="langile.id">
                                {{langile.izena}}</option>
                        </select>
                    </div>
                    <div class="col-md-5">
                        <label for="inputMateriala" class="form-label">{{
                            translations[selectedLanguage].mat_era.material }}:</label>
                        <select class="form-select w-100" id="selectMateriala" required v-model="materialaSortu"
                            :key="actualizarMateriales">
                            <option disabled value="">{{ translations[selectedLanguage].mat_era.material }}</option>
                            <option v-for="materiala in materialesDisponibles" :key="materiala.id"
                                :value="materiala.id">{{materiala.etiketa}}</option>
                        </select>
                    </div>
                    <div class="col-md-2 mt-4">
                        <button class="btn btn-primary mt-2" @click="createMaterialErabili()">{{
                            translations[selectedLanguage].default.btn_añadir }}</button>
                    </div>
                </div>
            </template>
            <br>
            <div class="container d-flex align-items-center mt-5">
                <div class="mx-auto">
                    <a class="navbar-brand h3 d-flex d-inline text-muted">
                        {{ translations[selectedLanguage].mat_era.en_uso }}:
                    </a>
                </div>
            </div>
            <!-- Línea horizontal de Bootstrap en gris -->


            <table class="table table-hover">
                <thead>
                    <tr style="font-size: 19px;">
                        <th>{{ translations[selectedLanguage].mat_era.alumno }}</th>
                        <th>{{ translations[selectedLanguage].mat_era.material }}</th>
                        <th>{{ translations[selectedLanguage].mat_era.dia_hora }}</th>
                        <th></th>
                    </tr>
                    <hr class="my-4 bg-secondary">
                </thead>
                <br>
                <tbody>
                    <!-- FIXME -->
                    <!-- <tr v-for="(fila) in itemsFiltradosPaginados" :key="fila.id"> -->
                    <tr v-for="(fila) in itemsFiltradosPaginados" :key="fila.id">
                        <td>{{fila.langilea.izena}}</td>
                        <td>{{fila.materiala.etiketa}}</td>
                        <td>{{ formatDate(fila.hasiera_data) }}</td>
                        <td>
                            <button class="btn btn-primary" @click="materialaItzuli(fila.id)">{{
                                translations[selectedLanguage].mat_era.devolver }}</button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="paginacion" class="pagination justify-content-center">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous" @click="paginaAnterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#"><span>{{paginaActual}} / {{cantidadPorPaginas}}</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next" @click="paginaSiguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="bg-dark text-light text-center py-3 mt-auto">
            <div class="container">
                <p>&copy; {{ translations[selectedLanguage].mat_era.footer }}</p>
            </div>
        </footer>
    </main>



    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/translations.js"></script>
    <script src="../js/materiala_erabili.js"></script>

</body>

</html>