<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../js/route.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body class="d-flex flex-column min-vh-100">
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto h3 d-flex d-inline fs-2" href="#">
                Horarios
            </a>

           <!-- Barra de navegacion fija -->
            <i class="bi bi-box-arrow-right h3"></i>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width: 350px;">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <img src="../img/sj.png" alt="Logo" width="200" height="60">
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                
                <!-- Barra de navegacion "oculta" -->
                <div class="offcanvas-body" style="position: relative;">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- Citas -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar3 m-1"></i>
                                Citas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="hitzorduak.html">Gestión de citas</a></li>
                                <li><a class="dropdown-item" href="ticket.html">Tickets</a></li>
                            </ul>
                        </li>

                        <!-- Productos -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-tags-fill m-1"></i>
                                Productos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="produktu_mugimenduak.html">Extraer productos</a></li>
                                <li><a class="dropdown-item" href="produktuak.html">Gestionar productos</a></li>
                                <li><a class="dropdown-item" href="kategoriak.html">Gestionar categorías</a></li>
                                <li><a class="dropdown-item" href="historiala_produktu_mugimenduak.html">Historial de extracción de productos</a></li>
                            </ul>
                        </li>

                        <!-- Material -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-palette2 m-1"></i>
                                Material
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="materiala.html">Gestionar material</a></li>
                                <li><a class="dropdown-item" href="materiala_erabili.html">Extraer/Devolver Material</a>
                                </li>
                                <li><a class="dropdown-item" href="historiala_materiala_erabili.html">Historial de movimientos de material</a></li>
                            </ul>
                        </li>

                        <!-- Tratamientos -->
                        <li class="nav-item mb-2">
                            <a class="nav-link link-info fs-6 fw-bold text-light" href="tratamenduak.html" role="button"
                                aria-expanded="false">
                                <i class="bi bi-scissors m-1"></i>
                                Tratamientos
                            </a>
                        </li>

                        <!-- Turnos -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar-check-fill m-1"></i>
                                Turnos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="txandak.html">Asignación de turnos</a></li>
                                <li><a class="dropdown-item" href="gaurko_txandak.html">Turnos de hoy</a></li>
                            </ul>
                        </li>

                        <!-- Grupos -->
                        <li class="nav-item dropdown mb-2">
                            <a class="nav-link dropdown-toggle link-info fs-6 fw-bold text-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-people-fill m-1"></i>
                                Grupos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="taldeak.html">Gestionar grupos</a></li>
                                <li><a class="dropdown-item" href="ordutegiak.html">Horarios por grupo</a></li>
                            </ul>
                        </li>

                        <!-- Usuarios -->
                        <li class="nav-item mb-2">
                            <a class="nav-link link-info fs-6 fw-bold text-light" href="langileak.html" role="button"
                                aria-expanded="false">
                                <i class="bi bi-person-fill m-1"></i>
                                Usuarios
                            </a>
                        </li>

                        <!-- Ficha Clientes -->
                        <li class="nav-item mb-2">
                            <a class="nav-link link-info fs-6 fw-bold text-light" href="bezero_fitxak.html"
                                role="button" aria-expanded="false">
                                <i class="bi bi-person-vcard m-1"></i>
                                Ficha-clientes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <main id="app">
        <div class="container">
            <div class="row">
                <!-- Iconos para editar los datos -->
                <div class="icons h4 text-end mt-4">
                    <i class="bi bi-check-circle m-2" @click="actuOrdutegia()"></i>
                    <i class="bi bi-dash-circle" @click="ezabOrdutegi()"></i>

                    <!-- CAMBIAR EL IDIOMA (probisional) -->
                    <p @click="changeLanguage('es')">ES</p>
                    <p @click="changeLanguage('eus')">EUS</p>
                </div>

                <!-- Tabla -->
                <table class="table table-hover">
                    <thead>
                        <tr style="font-size: 19px;">
                            <th scope="col"></th>
                            <th scope="col">{{ translations[selectedLanguage].default.tab_codigo }}</th>
                            <!-- <th scope="col">Nombre</th> -->
                            <th scope="col">{{ translations[selectedLanguage].ordutegiak.dia }}</th>
                            <th scope="col">{{ translations[selectedLanguage].ordutegiak.fecha_inicio }}</th>
                            <th scope="col">{{ translations[selectedLanguage].ordutegiak.fecha_fin }}</th>
                            <th scope="col">{{ translations[selectedLanguage].ordutegiak.hora_inicio }}</th>
                            <th scope="col">{{ translations[selectedLanguage].ordutegiak.hora_fin }}</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: mostrar los datos del fetch -->
                        <tr v-for="(ordutegia) in listaOrdutegia">
                            <td>
                                <input type="checkbox" class="form-check-input" :value="ordutegia.id"
                                    v-model="arrayId" />
                            </td>
                            <td>
                                {{ ordutegia.kodea }}
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    <!-- {{ ordutegia.eguna }} -->
                                    {{ egunaOrdutegia(ordutegia.eguna) }}
                                </span>
                                <input v-else type="text" v-model="ordutegia.eguna">
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    {{ ordutegia.hasiera_data }}
                                </span>
                                <input v-else type="date" v-model="ordutegia.hasiera_data">
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    {{ ordutegia.amaiera_data }}
                                </span>
                                <input v-else type="date" v-model="ordutegia.amaiera_data">
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    {{ ordutegia.hasiera_ordua | formatHour }}
                                    <!-- {{ formatOrduak(ordutegia.hasiera_ordua) }} -->
                                </span>
                                <input v-else type="time" v-model="ordutegia.hasiera_ordua">
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    {{ ordutegia.amaiera_ordua | formatHour }}
                                    <!-- {{ formatOrduak(ordutegia.amaiera_ordua) }} -->
                                </span>
                                <input v-else type="time" v-model="ordutegia.amaiera_ordua">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- TODO: reorganizar todo -->
            <!-- FORMULARIO AÑADIR HORARIO -->
            <!-- <div class="row justify-content-center align-items-center"> -->
            <div class="row d-flex justify-content-center p-5" style="width: 100%; font-size: 19px;">
                <h4 class="text-center pt-5 mx-auto">{{ translations[selectedLanguage].ordutegiak.añadir }}</h4>
                <form class="row g-3 d-flex flex-column justify-content-center align-content-center">
                    <div class="btn-group col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <!-- TODO: los grupos se añaden automaticamente -->
                            <label for="dia" class="form-label">{{ translations[selectedLanguage].ordutegiak.grupo
                                }}</label>
                            <select class="form-select" id="dia" v-model="kodeaSortu">
                                <option disabled value="">{{ translations[selectedLanguage].ordutegiak.grupo }}</option>
                                <option v-for="(talde, index) in listaTalde" :key="index" :value="talde.kodea">
                                    {{ talde.kodea }}
                                </option>
                                <!-- <option disabled selected>Seleccione un grupo</option>
                                <option value="3WAG2">3WAG2</option>
                                <option value="1">añadir automaticamente con el fetch</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="btn-group col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <!-- TODO: hacer que se inserte bien el dia en la db -->
                            <label for="dia" class="form-label">{{ translations[selectedLanguage].ordutegiak.dia_semana
                                }}</label>
                            <select class="form-select w-100" id="dia" required v-model="egunaSortu">
                                <option disabled selected>{{ translations[selectedLanguage].ordutegiak.select_dia }}
                                </option>
                                <option value="1">{{ translations[selectedLanguage].ordutegiak.lunes }}</option>
                                <option value="2">{{ translations[selectedLanguage].ordutegiak.martes }}</option>
                                <option value="3">{{ translations[selectedLanguage].ordutegiak.miercoles }}</option>
                                <option value="4">{{ translations[selectedLanguage].ordutegiak.jueves }}</option>
                                <option value="5">{{ translations[selectedLanguage].ordutegiak.viernes }}</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <label for="fecha-inicio">{{ translations[selectedLanguage].ordutegiak.fecha_inicio }}</label>
                        <input type="date" class="form-control" id="input2" v-model="hasiera_dataSortu" />
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <label for="fecha-fin">{{ translations[selectedLanguage].ordutegiak.fecha_fin }}</label>
                        <input type="date" class="form-control" id="fecha-fin" v-model="amaiera_dataSortu" />
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <label for="hora-inicio">{{ translations[selectedLanguage].ordutegiak.hora_inicio }}</label>
                        <input type="time" class="form-control" id="hora-inicio" v-model="hasiera_orduaSortu" />
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <label for="hora-fin">{{ translations[selectedLanguage].ordutegiak.hora_fin }}</label>
                        <input type="time" class="form-control" id="hora-fin" v-model="amaiera_orduaSortu" />
                    </div>

                    <!-- FIXME: el button solo se centra cuando esta en pantalla completa-->
                    <!-- <div class="col-sm-2 col-lg-2 mb-auto ms-auto mx-auto"> -->
                    <div class="col-1 align-self-center">
                        <!-- <button type="submit" class="btn btn-primary">Añadir</button> -->
                        <div class="col-sm-2 col-lg-2 mb-auto ms-sm-auto">
                            <button @click.prevent="createOrdutegia" class="btn btn-primary">{{
                                translations[selectedLanguage].default.btn_añadir }}</button>
                        </div>
                </form>
            </div>
        </div>
        <!-- FOOTER -->
        <footer class="bg-dark text-light text-center py-3 mt-auto" id="sticky-footer">
            <div class="container">
                <p>&copy; {{ translations[selectedLanguage].ordutegiak.footer }}</p>
            </div>
        </footer>
    </main>


    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/translations.js"></script>
    <script src="../js/ordutegiak.js"></script>

</body>

</html>