<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Horarios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

</head>

<body>
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container d-flex align-items-center">
            <!-- <div class="container-fluid"> -->
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto h3 d-flex d-inline" href="#">
                Horarios por grupo
                <!-- FIXME: buscar como hacero sin puntitos  -->
                <!-- sin los puntos no se ve bien centrado -->
                <p class="puntos" style="color: #F7F7F7;">........</p>
            </a>
            <!-- Barra de navegacion fija -->
            <i class="bi bi-box-arrow-right h3"></i>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>

                <!-- Barra de navegacion "oculta" -->
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- Citas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar3 m-2"></i>
                                Citas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Asignar citas</a></li>
                                <li><a class="dropdown-item" href="#">Comfirmar citas</a></li>
                                <li><a class="dropdown-item" href="#">Ficha técnica</a></li>
                                <li><a class="dropdown-item" href="#">Listado tickets</a></li>
                                <li><a class="dropdown-item" href="#">Agenda de citas</a></li>
                            </ul>
                        </li>

                        <!-- Almacen -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="#">
                                <i class="bi bi-box-seam-fill m-2"></i>
                                Almacén
                            </a>
                        </li>

                        <!-- Productos -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="#">
                                <i class="bi bi-tags-fill m-2"></i>
                                Productos
                            </a>
                        </li>

                        <!-- Material -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="#">
                                <!-- <i class="bi bi-brush"></i> -->
                                <i class="bi bi-palette2 m-2"></i>
                                Material
                            </a>
                        </li>

                        <!-- Tratamientos -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="#">
                                <i class="bi bi-scissors m-2"></i>
                                Tratamientos
                            </a>
                        </li>

                        <!-- Tareas -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar-check-fill m-2"></i>
                                Tareas
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">Asignación de tareas</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">Resumen de tareas</a>
                                </li>
                            </ul>
                        </li>

                        <!-- Usuarios -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle link-light" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-person-fill m-2"></i>
                                Usuarios
                            </a>
                            <ul class="dropdown-menu">
                                <!-- <li><a class="dropdown-item" href="#">Rotaciones</a></li> -->
                                <li><a class="dropdown-item" href="taldeak.html">Grupos</a></li>
                                <li><a class="dropdown-item" href="langileak.html">Trabajadores</a></li>
                                <li>
                                    <a class="dropdown-item" href="ordutegiak.html">Horarios por grupo</a>
                                </li>
                            </ul>
                        </li>


                        <!-- Resumen tratamiento -->
                        <li class="nav-item">
                            <a class="nav-link active link-light" href="#">
                                <i class="bi bi-receipt m-2"></i>
                                Resumen tratamiento
                            </a>
                        </li>
                    </ul>

                    <!-- Buscador (por defecto, se puede quitar) -->
                    <form class="d-flex mt-3" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" />
                        <button class="btn btn-outline-success" type="submit">
                            Search
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <main id="app">
        <div class="container">
            <div class="row">
                <!-- Iconos para editar los datos -->
                <div class="icons h4 text-end mt-4">
                    <i class="bi bi-check-circle m-2" @click="actuOrdutegia()"></i>
                    <i class="bi bi-dash-circle" @click="ezabOrdutegi()"></i>
                </div>

                <!-- Tabla -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Código</th>
                            <!-- <th scope="col">Nombre</th> -->
                            <th scope="col">Día semanal</th>
                            <th scope="col">Fecha inicio</th>
                            <th scope="col">Fecha fin</th>
                            <th scope="col">Hora inicio</th>
                            <th scope="col">Hora fin</th>

                        </tr>
                    </thead>
                    <tbody>
                        <!-- TODO: mostrar los datos del fetch -->
                        <tr v-for="(ordutegia) in listaOrdutegia">
                            <td>
                                <input type="checkbox" :value="ordutegia.id" v-model="arrayId" />
                            </td>
                            <td>
                                {{ ordutegia.kodea }}
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    <!-- {{ ordutegia.eguna }} -->
                                    {{ egunaOrdutegia(ordutegia.eguna) }}
                                </span>
                                <input v-else type="text" v-model="ordutegia.eguna">
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    {{ ordutegia.hasiera_data }}
                                </span>
                                <input v-else type="date" v-model="ordutegia.hasiera_data">
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    {{ ordutegia.amaiera_data }}
                                </span>
                                <input v-else type="date" v-model="ordutegia.amaiera_data">
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    {{ ordutegia.hasiera_ordua }}
                                    <!-- {{ formatOrduak(ordutegia.hasiera_ordua) }} -->
                                </span>
                                <input v-else type="time" v-model="ordutegia.hasiera_ordua">
                            </td>
                            <td>
                                <span v-if="!arrayId.includes(ordutegia.id)">
                                    {{ ordutegia.amaiera_ordua }}
                                    <!-- {{ formatOrduak(ordutegia.amaiera_ordua) }} -->
                                </span>
                                <input v-else type="time" v-model="ordutegia.amaiera_ordua">
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- TODO: reorganizar todo -->
            <!-- FORMULARIO AÑADIR HORARIO -->
            <!-- <div class="row justify-content-center align-items-center"> -->
            <div class="row d-flex justify-content-center p-5" style="width: 100%;">
                <h4 class="text-center pt-5 mx-auto">Añadir horario</h4>

                <form class="row g-3 d-flex flex-column justify-content-center align-content-center">

                    <div class="btn-group col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <!-- TODO: los grupos se añaden automaticamente -->
                            <label for="dia" class="form-label">Grupo</label>
                            <select class="form-select" id="dia" v-model="kodeaSortu">
                                <option v-for="(talde, index) in listaTalde" :key="index" :value="talde.kodea">
                                    {{ talde.kodea }}
                                </option>
                                <!-- <option disabled selected>Seleccione un grupo</option>
                                <option value="3WAG2">3WAG2</option>
                                <option value="1">añadir automaticamente con el fetch</option> -->
                            </select>
                        </div>
                    </div>

                    <div class="btn-group col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <!-- TODO: hacer que se inserte bien el dia en la db -->
                            <label for="dia" class="form-label">Dia de la semana</label>
                            <select class="form-select w-100" id="dia" required v-model="egunaSortu">
                                <option disabled selected>Seleccione un día</option>
                                <option value="1">Lunes</option>
                                <option value="2">Martes</option>
                                <option value="3">Miercoles</option>
                                <option value="4">Jueves</option>
                                <option value="5">Viernes</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <label for="fecha-inicio">Fecha inicio</label>
                        <input type="date" class="form-control" id="input2" v-model="hasiera_dataSortu" />
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <label for="fecha-fin">Fecha fin</label>
                        <input type="date" class="form-control" id="fecha-fin" v-model="amaiera_dataSortu" />
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <label for="hora-inicio">Hora inicio</label>
                        <input type="time" class="form-control" id="hora-inicio" v-model="hasiera_orduaSortu" />
                    </div>

                    <div class="col-sm-6 col-lg-3">
                        <label for="hora-fin">Hora fin</label>
                        <input type="time" class="form-control" id="hora-fin" v-model="amaiera_orduaSortu" />
                    </div>

                    <!-- FIXME: el button solo se centra cuando esta en pantalla completa-->
                    <!-- <div class="col-sm-2 col-lg-2 mb-auto ms-auto mx-auto"> -->
                    <div class="col-1 align-self-center">
                        <!-- <button type="submit" class="btn btn-primary">Añadir</button> -->
                        <div class="col-sm-2 col-lg-2 mb-auto ms-sm-auto">
                            <button @click.prevent="createOrdutegia" class="btn btn-primary">Añadir</button>
                        </div>
                </form>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="bg-dark text-light text-center py-3" id="sticky-footer">
        <div class="container">
            <p>&copy; 2024 Taldeak. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

</body>

<script>
    new Vue({
        el: '#app',
        data: {
            selectedChecbox: null, // Almacena el id del checkbox seleccionado
            arrayId: [],
            listaOrdutegia: [],
            listaTalde: [],
            selectedTalde: "",
            kodeaSortu: "",
            egunaSortu: "",
            hasiera_dataSortu: "",
            amaiera_dataSortu: "",
            hasiera_orduaSortu: "",
            amaiera_orduaSortu: "",
        },
        methods: {
            // FIXME: formatear la hora, no aparezcan los seg (no funciona)
            // formatOrduak(dateTime) {
            //     const date = new Date(dateTime);
            //     const hours = date.getHours();
            //     const minutes = date.getMinutes();

            //     // Asegúrate de que los minutos tengan dos dígitos
            //     const formattedMinutes = minutes < 10 ? `0${minutes}` : minutes;

            //     return `${hours}:${formattedMinutes}`;
            // },
            async cargaOrdutegia() {
                try {
                    const response = await fetch('http://localhost/Erronka2/laravel_e2t3/public/api/ordutegiaruta', {
                        // const response = await fetch('https://www.talde3-back.edu/Erronka2/laravel_e2t3/public/api/ordutegiaruta', {
                        method: 'GET',
                        // mode: "no-cors",
                        headers: {
                            'Content-Type': 'application/json',
                            'Access-Control-Allow-Origin': '*'
                        },
                    });

                    if (!response.ok) {
                        console.log('Errorea eskaera egiterakoan');
                        throw new Error('Errorea eskaera egiterakoan');
                    }

                    const datuak = await response.json();
                    // console.log(datuak);
                    this.listaOrdutegia = datuak
                        .filter(ordutegia => ordutegia.deleted_at === null || ordutegia.deleted_at === "0000-00-00 00:00:00");
                    // console.log(datuak);
                } catch (error) {
                    console.error('Errorea: ', error);
                }
            },
            async createOrdutegia() {
                try {
                    const kodea = this.kodeaSortu;
                    const eguna = this.egunaSortu;
                    const hasiera_data = this.hasiera_dataSortu;
                    const amaiera_data = this.amaiera_dataSortu;
                    const hasiera_ordua = this.hasiera_orduaSortu;
                    const amaiera_ordua = this.amaiera_orduaSortu;
                    const arraySortu = {
                        "kodea": kodea,
                        "eguna": eguna,
                        "hasiera_data": hasiera_data,
                        "amaiera_data": amaiera_data,
                        "hasiera_ordua": hasiera_ordua,
                        "amaiera_ordua": amaiera_ordua
                    }

                    console.log(JSON.stringify(arraySortu));

                    // console.log(arraySortu);

                    const response = await fetch('http://localhost/Erronka2/laravel_e2t3/public/api/ordutegiagorde', {
                        // const response = await fetch('https://www.talde3-back.edu/Erronka2/laravel_e2t3/public/api/ordutegiagorde', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json', // Indicar el tipo de contenido como JSON
                            'Access-Control-Allow-Origin': '*'
                        },
                        body: JSON.stringify(arraySortu), // Convertir el objeto JSON a una cadena JSON
                    });

                    if (!response.ok) {
                        console.log('Errorea sortzerakoan');
                        throw new Error('Errorea sortzerakoan');
                    }

                    alert('Sortu da');
                    await this.cargaOrdutegia();
                    // location.reload();

                } catch (error) {
                    console.log('Errorea: ', error);
                }
            },

            async actuOrdutegia() {
                try {
                    const id = this.arrayId[0];
                    const kodea = this.listaOrdutegia.find(ordutegia => ordutegia.id === this.arrayId[0]).kodea;
                    const eguna = this.listaOrdutegia.find(ordutegia => ordutegia.id === this.arrayId[0]).eguna;
                    const hasiera_data = this.listaOrdutegia.find(ordutegia => ordutegia.id === this.arrayId[0]).hasiera_data;
                    const amaiera_data = this.listaOrdutegia.find(ordutegia => ordutegia.id === this.arrayId[0]).amaiera_data;
                    const hasiera_ordua = this.listaOrdutegia.find(ordutegia => ordutegia.id === this.arrayId[0]).hasiera_ordua;
                    const amaiera_ordua = this.listaOrdutegia.find(ordutegia => ordutegia.id === this.arrayId[0]).amaiera_ordua;
                    
                    console.log(eguna);

                    const arrayActu = {
                        'id': id,
                        'kodea': kodea,
                        'eguna': eguna,
                        'hasiera_data': hasiera_data,
                        'amaiera_data': amaiera_data,
                        'hasiera_ordua': hasiera_ordua,
                        'amaiera_ordua': amaiera_ordua
                    }
                    const response = await fetch('http://localhost/Erronka2/laravel_e2t3/public/api/ordutegiaeguneratu/' + id, {
                            // const response = await fetch('https://www.talde3-back.edu/Erronka2/laravel_e2t3/public/api/langileaeguneratu/' + id, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*'
                            },
                            body: JSON.stringify(arrayActu),
                        });

                        if (!response.ok) {
                            console.log('Errorea eguneratzerakoan');
                            throw new Error('Errorea eguneratzerakoan');
                        }

                        alert('Ondo eguneratuta');
                        await this.cargaOrdutegia();
                        location.reload();

                } catch (error) {
                    console.log('Errorea: ', error);
                }
            },
            async ezabOrdutegi() {
                try {
                    for (let i = 0; i < this.arrayId.length; i++) {
                        console.log(this.arrayId[i]);
                        const response = await fetch('http://localhost/Erronka2/laravel_e2t3/public/api/ordutegiaezabatu/' + this.arrayId[i], {
                            // const response = await fetch('https://www.talde3.edu:8081/Erronka2/laravel_e2t3/public/api/ordutegiaezabatu/' + this.arrayId[i], {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*'
                            },
                            body: JSON.stringify(this.arrayId[i]),
                        });

                    }
                    alert('Ondo ezabatuta');
                    await this.cargaOrdutegia();
                    location.reload();
                } catch (error) {
                    console.log('Errorea: ', error);
                }
            },
            egunaOrdutegia(numeroDia) {
                const diasSemana = ['', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sábado', 'Domingo'];
                return diasSemana[numeroDia];
            },
            async cargaTalde(){
                try {
                        const response = await fetch('http://localhost/Erronka2/laravel_e2t3/public/api/taldearuta', {
                            // const response = await fetch('https://www.talde3.edu:8081/Erronka2/laravel_e2t3/public/api/taldearuta', {
                            method: 'GET',
                            // mode: "no-cors",
                            headers: {
                                'Content-Type': 'application/json',
                                'Access-Control-Allow-Origin': '*'
                            },
                        });

                        if (!response.ok) {
                            console.log('Errorea eskera egiterakoan');
                            throw new Error('Errorea eskaera egiterakoan');
                        }

                        const datuak = await response.json();
                        console.log(datuak);
                        this.listaTalde = datuak
                            .filter(talde => talde.deleted_at === null || talde.deleted_at === "0000-00-00 00:00:00");
                            console.log(datuak);

                        if (this.listaTalde.length > 0) {
                            this.selectedTalde = this.listaTalde[0].kodea;
                        }
                        // console.log(listaTalde);

                    } catch (error) {
                        console.error('Errorea:', error);
                    }
            }
        },
        mounted() {
            this.cargaOrdutegia();
            this.cargaTalde();
        }
    })
</script>

</html>