<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../js/route.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grupos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />

</head>

<body class="d-flex flex-column min-vh-100">
    <!-- BARRA DE NAVEGACION -->
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container d-flex align-items-center">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand mx-auto h3 d-flex d-inline fs-2" href="#">
                Grupos
            </a>
        
            <!-- Barra de navegacion fija -->
            <i class="bi bi-box-arrow-right h3"></i>
            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
        
                <!-- Barra de navegacion "oculta" -->
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <!-- Citas -->
                        <li class="nav-item dropdown mb-3">
                            <a class="nav-link dropdown-toggle link-info fs-5 fw-bold text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-calendar3 m-2"></i>
                                Citas
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="hitzorduak.html">Gestión de citas</a></li>
                                <li><a class="dropdown-item" href="ticket.html">Tickets</a></li>
                            </ul>
                        </li>
        
                        <!-- Productos -->
                        <li class="nav-item dropdown mb-3">
                            <a class="nav-link dropdown-toggle link-info fs-5 fw-bold text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-tags-fill m-2"></i>
                                    Productos
                                </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="produktu_mugimenduak.html">Extraer productos</a></li>
                                <li><a class="dropdown-item" href="produktuak.html">Gestionar productos</a></li>
                                <li><a class="dropdown-item" href="kategoriak.html">Gestionar categorías</a></li>
                                <li><a class="dropdown-item" href="historiala_produktu_mugimenduak.html">Historial de extracción de productos</a></li>
                            </ul>
                        </li>

                        <!-- Material -->
                        <li class="nav-item dropdown mb-3">
                            <a class="nav-link dropdown-toggle link-info fs-5 fw-bold text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-palette2 m-2"></i>
                                    Material
                                </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="materiala.html">Gestionar material</a></li>
                                <li><a class="dropdown-item" href="materiala_erabili.html">Extraer/Devolver Material</a></li>
                                <li><a class="dropdown-item" href="historiala_materiala_erabili.html">Historial de movimientos de material</a></li>
                            </ul>
                        </li>


                        <!-- Tratamientos -->
                        <li class="nav-item dropdown mb-3">
                            <a class="nav-link link-info fs-5 fw-bold text-light" href="tratamenduak.html" role="button" aria-expanded="false">
                                <i class="bi bi-scissors m-2"></i>
                                Tratamientos
                            </a>
                        </li>

                        <!-- Turnos -->
                        <li class="nav-item dropdown mb-3">
                            <a class="nav-link dropdown-toggle link-info fs-5 fw-bold text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-calendar-check-fill m-2"></i>
                                Turnos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="txandak.html">Asignación de turnos</a></li>
                                <li><a class="dropdown-item" href="gaurko_txandak.html">Turnos de hoy</a></li>
                            </ul>
                        </li>

                        <!-- Grupos -->
                        <li class="nav-item dropdown mb-3">
                            <a class="nav-link dropdown-toggle link-info fs-5 fw-bold text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-people-fill m-2"></i>
                                Grupos
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="taldeak.html">Gestionar grupos</a></li>
                                <li><a class="dropdown-item" href="ordutegiak.html">Horarios por grupo</a></li>
                            </ul>
                        </li>

                        <!-- Usuarios -->
                        <li class="nav-item dropdown mb-3">
                            <a class="nav-link link-info fs-5 fw-bold text-light" href="langileak.html" role="button" aria-expanded="false">
                                <i class="bi bi-person-fill m-2"></i>
                                Usuarios
                            </a>
                        </li>

                        <!-- Ficha Clientes -->
                        <li class="nav-item dropdown mb-3">
                            <a class="nav-link link-info fs-5 fw-bold text-light" href="bezero_fitxak.html" role="button" aria-expanded="false">
                                <i class="bi bi-person-vcard m-2"></i>
                                Ficha-clientes
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <main id="app">
        <div class="container">
            <div class="row">
                <!-- Iconos para editar los datos -->
                <div class="icons h4 text-end mt-4">
                    <i class="bi bi-check-circle m-2" @click="actuTalde()"></i>
                    <i class="bi bi-dash-circle" @click="ezabTalde()"></i>
                </div>

                <!-- Tabla -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Código</th>
                            <th scope="col">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(talde) in listaTalde">
                            <td><input type="checkbox" :value="talde.kodea" v-model="arrayKodea" /></td>
                            <td>{{talde.kodea}}</td>
                            <td>
                                <span v-if="!arrayKodea.includes(talde.kodea)">
                                    {{talde.izena}}
                                </span>

                                <input v-else type="text" v-model="talde.izena" :placeholder="talde.izena" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!-- FORMULARIO AÑADIR GRUPO -->
            <!-- <div class="row justify-content-center align-items-center"> -->
            <div class="row d-flex justify-content-center p-5" style="width: 100%;">
                <h4 class="text-center pt-5 mx-auto">Añadir grupo</h4>

                <form class="row g-3 d-flex flex-column justify-content-center align-content-center"
                    style="width: 100%;">
                    <div class="col-sm-6 col-lg-3">
                        <!-- <label for="input1" class="">Código</label> -->
                        <input type="text" class="form-control" id="input1" v-model="kodeaSortu" placeholder="Código" />
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <!-- <label for="input2" class="">Nombre</label> -->
                        <input type="text" class="form-control" id="input2" v-model="izenaSortu"
                            placeholder="Nombre del grupo" />
                    </div>

                    <!-- FIXME: el button solo se centra cuando esta en pantalla completa-->
                    <!-- <div class="col-sm-2 col-lg-2 mb-auto ms-auto mx-auto"> -->
                    <div class="col-1 align-self-center">
                        <!-- <button type="submit" class="btn btn-primary">Añadir</button> -->
                        <div class="col-sm-2 col-lg-2 mb-auto ms-sm-auto">
                            <button @click.prevent="createTalde()" class="btn btn-primary">Añadir</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="bg-dark text-light text-center py-3 mt-auto">
        <div class="container">
            <p>&copy; 2024 Grupos. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/taldeak.js"></script>

</body>
</html>
