<!DOCTYPE html>
<html lang="en">

<head>
    <script src="../js/route.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Turnos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

</head>

<body class="d-flex flex-column min-vh-100">
    <main id="app">
        <nav-component :changeLanguage="changeLanguage"></nav-component>
        <div class="container">
            <header class="row">
                <ul class="nav nav-tabs mt-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#" @click="cargaTxanda()">Todos</a>
                    </li>
                    <li class="nav-item" v-for="(talde,index) in listaTalde" :key="index">
                        <a href="#" class="nav-link" :class="{ 'active': talde.kodea === selectedTalde }"
                            @click="filterTaldea(talde.kodea)">
                            {{ talde.kodea }}
                        </a>
                    </li>
                </ul>
            </header>

            <div class="row">
                <!-- Iconos para editar los datos -->
                <div class="icons h4 text-end mt-4">

                </div>

                <!-- Tabla -->
                <table class="table table-hover">
                    <thead>
                        <tr style="font-size: 21px;">
                            <th scope="col">{{ translations[selectedLanguage].default.tab_nombre }}</th>
                            <th scope="col">{{ translations[selectedLanguage].txandak.limpieza }}</th>
                            <th scope="col">{{ translations[selectedLanguage].txandak.mostrador }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(alumno, index) in contarTurnosPorAlumno()" :key="index"
                            v-if="contarTurnos(alumno.turnos, 'G') !== 1 || contarTurnos(alumno.turnos, 'M') !== 1">
                            <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
                            <td>{{ contarTurnos(alumno.turnos, 'G')-1 }}</td>
                            <td>{{ contarTurnos(alumno.turnos, 'M')-1 }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- FORMULARIO AÑADIR GRUPO -->
            <!-- <div class="row justify-content-center align-items-center"> -->
            <div class="row d-flex justify-content-center p-5" style="width: 100%;">
                <h4 class="text-center pt-5 mx-auto">{{ translations[selectedLanguage].txandak.añad_turno }}</h4>

                <form class="row g-3 d-flex flex-column justify-content-center align-content-center"
                    style="width: 100%;">
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <select class="form-select w-100" id="x" required v-model="kodeaSortu"
                                @change="filtrarAlumnosPorGrupo">
                                <option disabled value="">{{ translations[selectedLanguage].txandak.grupo }}</option>
                                <option v-for="(talde) in listaTalde" :key="talde.kodea">{{talde.kodea}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <select class="form-select w-100" id="y" required v-model="izenaSortu">
                                <option disabled value="">{{ translations[selectedLanguage].default.tab_nombre }}
                                </option>
                                <option v-for="(langile) in alumnosPorGrupo" :key="langile.id" :value="langile.id">
                                    {{langile.izena}} {{ langile.abizenak }}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <select class="form-select w-100" id="z" required v-model="tareaSortu">
                                <option disabled value="">{{ translations[selectedLanguage].txandak.tarea }}</option>
                                <option value='G'>{{ translations[selectedLanguage].txandak.limpieza }}</option>
                                <option value='M'>{{ translations[selectedLanguage].txandak.mostrador }}</option>
                            </select>
                        </div>
                    </div>

                    <!-- FIXME: el button solo se centra cuando esta en pantalla completa-->
                    <!-- <div class="col-sm-2 col-lg-2 mb-auto ms-auto mx-auto"> -->
                    <div class="col-1 align-self-center">
                        <!-- <button type="submit" class="btn btn-primary">Añadir</button> -->
                        <div class="col-sm-2 col-lg-2 mb-auto ms-sm-auto">
                            <button @click.prevent="createTxanda()" class="btn btn-primary">{{
                                translations[selectedLanguage].default.btn_añadir }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="bg-dark text-light text-center py-3 mt-auto">

        <p>&copy; 2024. Todos los derechos reservados. CIFP San Jorge LHII</p>

    </footer>



    <!-- SCRIPTS -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="../js/translations.js"></script>
    <script src="../js/txandak.js"></script>

</body>

</html>